<!DOCTYPE html>
<html>
    <body>

    <h1>Kalkulator walutowy</h1>

    <p>Wybierz walutę z lisy poniżej aby przeliczyć na PLN.</p>

        <form method="POST">
            <label for="currency">Wybierz walutę:</label>
            <select name="code" id="code">
                {% for value in myData %}
                <option>{{ value }}</option>
                <var>value</var> 
                {% endfor %}
            </select>
            <br><br>
        
            <p>Wpisz kwotę waluty do przeliczenia na PLN:</p>
            <label for="value">Podaj kwotę:</label>
            <textarea cols=5 rows=1 type="textbox" id="value" name="value"></textarea><br>
            <input type="submit" value="Przelicz">
        </form>
        <p>Kliknij "Przelicz" aby otrzymać wynik w PLN.</p>
    
    <p>
        <label>Oto wynik:</label>
        {% for result in results %}
        <p>{{result}} PLN</p>
        {% endfor %}
    </p>

    

    </body>
</html>
